@using kisiselweb.Models.Siniflar
@model List<AnaSayfa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        
        <th>İsim</th>
        <th>  </th>
    </tr>
    <tr>
        @foreach (var x in Model)
        {
            
            <td>@x.ad</td>
            <td><a href="/Admin/AnaSayfaGetir/@x.id" class="btn btn-primary">Güncelle</a></td>

        }
    </tr>
</table>
